<mat-toolbar color="primary" class="header">
  <img alt="logo" src="/assets/images/logo.svg" [routerLink]="['']" [routerLinkActive]="'active-link'" class="logo">
  <a [routerLink]="['']" [routerLinkActive]="'active-link'" class="icon-link">
    <i class="fa fa-home"></i>Home
  </a>
  <a [routerLink]="['/agreement']" [routerLinkActive]="'active-link'" class="icon-link">
    <i class="fa fa-tags"></i>Agreements
  </a>
  <!-- <div class="description">
    <p>
      <b>Pandult</b><br>
      Good Afternoon, Megan
      <i class="fa fa-sliders"></i>
    </p>
  </div> -->
</mat-toolbar>


<router-outlet></router-outlet>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
