<div class="content">
  <h3 id="titleWelcome">Welcome to Celerity Enterprises!</h3>
  <p>We provide a unified platform for agreement reconciliation, communication, and reporting between parties
      across the supplier and distribution network</p>
  <div class="row ">
      <div class="col-sm-8">
          <div class="content-tabs">
              <div class="row justify-content-center">
                  <div class="col-sm-2">
                      <img src="/assets/images/tags.svg" alt="Tags" id="tags">
                  </div>
                  <div class="col-sm-8">
                      <h2 class="titleContent">Agreements</h2>
                      <p>Review the status of special pricing agreements in place with your customers. View,
                          modify, or publish agreements details to ensure contact rules are in place for
                          accounting accuracy</p>
                  </div>
                  <div class="col-sm-2 align-self-center">
                      <button type="button" class="btn btn-primary">Get Started</button>
                  </div>
              </div>
          </div>
          <div class="content-tabs">
              <div class="row justify-content-center">
                  <div class="col-sm-2">
                      <img src="/assets/images/paper.svg" alt="Paper" id="paper">
                  </div>
                  <div class="col-sm-8">
                      <h2 class="titleContent">Claims</h2>
                      <p>Ensure claims and submittals are ready to be sent your trading partners. Check the status
                          of claim submissions, track workflow, and have complete transparency through the
                          submission process.</p>
                  </div>
                  <div class="col-sm-2 align-self-center">
                      <button type="button" class="btn btn-primary">Check Claims</button>
                  </div>
              </div>
          </div>
          <div class="content-tabs">
              <div class="row justify-content-center">
                  <div class="col-sm-2">
                      <img src="/assets/images/chart.svg" alt="Chart" id="chart">
                  </div>
                  <div class="col-sm-8">
                      <h2 class="titleContent">Reports</h2>
                      <p>Get updateed agreement and claim data in real time, providing business intelligence for
                          up-to-date understanding of your business. Create key performance reports, create
                          scheduled reporting, and enjoy self-service analytics created for your unique business
                          goals.</p>
                  </div>
                  <div class="col-sm-2 align-self-center">
                      <button type="button" class="btn btn-primary">View Reports</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="content-tabs" id="workflow">
              <div class="row justify-content-around">
                  <div class="col-4 content-tabs">
                      <h2>My Workflow</h2>
                  </div>
                  <div class="col-4 content-tabs" id="btnSeeAll">
                      <button type="button" class="btn btn-outline-info">See all</button>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md6 offset-md-3">
                      <p>There are no tasks assigned to you</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
